.WelcomeContainer{
    padding :3em 1.5em;
    display :flex;
    margin:auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height:100vh;
    background-color: #f2f0e4;

}
.WelcomeContainer h1{
    font-size:3em;
    font-weight:500;
    align-items: center;
    font-style: normal;
    margin-bottom:0;
    color:var(--textColor);
}
.WelcomeContainer img{
    size: 50%;
    height: 400px;
    width: 600px;
    display: block;
    margin:auto;
    align-items:center;
    border-radius: 2em;
}
.WelcomeInfo{
    height:250px;
    overflow:auto;
}
.WelcomeInfo p{
    margin-bottom:2em;
    color:var(--textColor);
    font-style:normal;
    font-weight:900;
}
.actionBtn{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    color:#257cce;
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;

    line-height: 50px;
}
.actionBtn >a:last-child{
    color:#0000FF;
    font-size:1em;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
   
}
